DATABASE_URL=postgresql://docuscale:local_dev_only_change_me@localhost:5432/docuscale?schema=public
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=6eFvcFMZKhmSCfjV6J6pKM0qaUhpJOFuex+LJtgEDLU=
BETTER_AUTH_URL=http://localhost:3000

CLIENT_URL=http://localhost:3001